.wrapper{
	padding-left: 200px;
	padding-top: 20px;
	width:1080px;
	margin: 0 auto;
	min-height: 400px;
}
.rootElem{
	width: 400px;
}

.innerElem{
	margin-left: 30px;
	width: 300px;
	padding: 5px 0
}

.elem{
	

}

.elem-wrapper{
	display: flex;
	align-items: center;
}

.elem img{
	display: block;
	margin-right: 7px;
}

.arrow{
	margin-left: -27px;
	transform: rotate(90deg);
	transition-duration: 0.3s;
}


.hidden{
	display: none;

}

.tilt{
	transform: rotate(180deg);
	transition-duration: 0.3s;
}