.wrapper{
	padding-top: 20px;
	width:1080px;
	margin: 0 auto;
	min-height: 400px;
}
.rootElem{
	width: 400px;
}

.innerElem{
	margin-left: 30px;
	width: 300px;
}

.elem{
	padding: 5px 0

}

.elem-wrapper{
	display: flex;
	align-items: center;
}

.elem img{
	display: block;
	/* margin: 7px; */
}
.arrow{
	transform: rotate(90deg);
}