.wrapper{
	width:1080px;
	margin: 0 auto;
	background-color: red;
	min-height: 400px;
}
.rootElem{
	width: 200px;
	background-color: green;
	min-height: 50px;
	border: 2px solid black;
}

.elem{
	width: 150px;
	background-color: yellow;
	min-height: 30px;
	border: 2px solid black;
}